@model IEnumerable<Tema2PS.Models.PlayModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlayModelId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.distribution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.directedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.premiereDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlayModelId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.distribution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.directedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.premiereDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlayModelId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlayModelId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlayModelId })
        </td>
    </tr>
}

</table>
